<h1>Now Login Yourself </h1>



<h1>Hello Users</h1>
<%=form_with model: @user, url: '/login1', method: :get do |u|%>
  <div>
    <%= u.label :Name%>
    <%= u.text_field :name%>
  </div>

  <div>
    <%= u.label :Password%>
    <%= u.text_field :password%>
  </div>

  <div>
    <%= u.submit %>
  </div>
<%= link_to "Register", controller: :users, action: :new%>
<%end%>